//cabeçalho
.header{
    display: flex;
    align-items: center;
    background-color: rgb(31, 186, 248);
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 32px;
}