.sidenav{
    background-color: #f5f5f5;
    width: 200px;
    
    
}
.sidenav a{
    font-weight:500;
    color: black;
}

.content{
    background-color: #f5f5f5;
    color: rgb(255, 255, 255);
    
}