h2{
    color: black;   
}

table{
    width: 100%;
}

.edit{
    margin-right:.5rem;
}

button{
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(146, 145, 145) !important;
}
    